%p.footer! [Developed by James Hughes || #{link_to("github", "http://github.com/jpath")} || #{link_to("fma", "http://freemusicarchive.org/member/jpath")} || #{link_to("twitter", "http://twitter.com/#!/jpath29")}]
