#content
  font: 1em Impact,sans-serif

#genre-list 
  /* http://www.css3.me */
  -moz-border-radius: 22px
  -webkit-border-radius: 22px
  border-radius: 22px
  -moz-box-shadow: 0px 0px 4px #000000
  -webkit-box-shadow: 0px 0px 4px #000000
  box-shadow: 0px 0px 4px #000000
  opacity: 0.63
  width: 300px

  p
    margin: 1px 1px 1px 100px
  a
    font-size: 1.25em 
    color: gray
  
a
  text-decoration: none
