<!DOCTYPE html>
<html>
<head>
  <title>Randomfma</title>
  <%= stylesheet_link_tag "randomfma.css"%>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
